.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    row-gap: 10px;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "brand brand global global global global global global global tools tools tools"
    "mid mid mid mid mid mid mid mid mid mid mid mid"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    padding: 10px;
}
.header__brand {
    grid-area: brand;
    background-color:rgb(51, 138, 109);
    border-radius: 25px;
}
.header__global {
    grid-area: global;
    background-color:rgb(51, 138, 109);
    border-radius: 10px;
}
.header__tools {
    grid-area: tools;
    background-color:rgb(51, 138, 109);
    border-radius: 25px;
    }
.mid-grid {
    grid-area: mid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-template-rows: 30% 70%;
    grid-template-areas: 
    "elem1 elem1 elem1 elem1 elem1 elem1 elem2 elem2 elem2 pic pic pic"
    "art4 art4 art4 art5 art5 art5 art5 art5 art5 con con con";
}
.hero__elements1 {
    grid-area: elem1;
    background-color:rgb(51, 138, 109);
}
.hero__elements2 {
    grid-area: elem2;
    background-color:rgb(51, 138, 109);
}
.add__pic {
    grid-area: pic;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}
.body__articles4 {
    grid-area: art4;
    background-color:rgb(51, 138, 109);
}
.body__articles5 {
    grid-area: art5;
    background-color:rgb(51, 138, 109);
}
.sidebar__content {
    grid-area: con;
    background-color:rgb(51, 138, 109);
}
.footer__bottom {
    padding: 10px;
    margin-top: 10px;
    grid-area: footer;
    background-color:rgb(51, 138, 109);
    border-radius: 10px 10px 0px 0px;
}